<h4 class="column">Consolas Disponibles</h4>
<div class="column">
  <ul class="movies-grid no-bullet row">
    <% @consolas.order(:oid , :asc).find_each do |consola| %>
      <li class="large-3 medium-4 small-12 column">
        <div class="movie-card padly">
        <%= link_to consola do %>
            <%= image_tag consola.poster %>
          <% end %>
          <div class="movie-info ell glassy-bg padmy padlx">
            <div class="title">
              <h6><%= consola.nombre %></h6>
            </div>
            <p class="left price label movie-label radius">$ <%= consola.precio %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<!--
<h1>Listing consolas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consolas.each do |consola| %>
      <tr>
        <td><%= consola.nombre %></td>
        <td><%= consola.marca %></td>
        <td><%= consola.precio %></td>
        <td><%= link_to 'Show', consola %></td>
        <td><%= link_to 'Edit', edit_consola_path(consola) %></td>
        <td><%= link_to 'Destroy', consola, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
-->

<%= link_to 'New Consola', new_consola_path %>
