<%= form_for(@cart_consola) do |f| %>
  <% if @cart_consola.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart_consola.errors.count, "error") %> prohibited this cart_consola from being saved:</h2>

      <ul>
      <% @cart_consola.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consola_id %><br>
    <%= f.number_field :consola_id %>
  </div>
  <div class="field">
    <%= f.label :cart_id %><br>
    <%= f.number_field :cart_id %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label : %><br>
    <%= f.text_field : %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
