<p id="notice"><%= notice %></p>

<p>
  <strong>Consola:</strong>
  <%= @cart_consola.consola_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @cart_consola.cart_id %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @cart_consola.cantidad %>
</p>

<p>
  <strong>:</strong>
  <%= @cart_consola. %>
</p>

<%= link_to 'Edit', edit_cart_consola_path(@cart_consola) %> |
<%= link_to 'Back', cart_consolas_path %>
