<div class="large-3 small-12 column">
  <%=image_tag @juego.poster%>
</div>
 
<div class="large-9 small-12 column">
  <h3>
    <%= @juego.titulo %>
  </h3>
</div>

<div class="large-9 small-12 column">
  <h3>
    <%= @juego.consola %>
  </h3>
</div>

<div class="large-9 small-12 column">
  <h3>
    <%= @juego.publisher %>
  </h3>
</div>

<div class="large-9 small-12 column">
  <h3>
    <%= @juego.anio %>
  </h3>
</div>

<div class="large-9 small-12 column">
  <h3>
    <p class="left price label movie-label radius">$ <%= @juego.precio %></p>
  </h3>
</div>

<%if signed_in?%>
<div class="large-9 small-12 column">
  <h3>
    <%= button_to 'Add to Cart', cart_productos_path(juego_id: @juego)%>
  </h3>
</div>
<%end%>

<div class="embed-container">
  <h3>
    <%= embed(@juego.video) %>
</iframe>
  </h3>
</div>