<div class="large-3 small-12 column">
  <%=image_tag @coleccionable.poster%>
</div>
 
<div class="large-9 small-12 column">
  <h3>
    <%= @coleccionable.nombre %>
  </h3>
</div>


<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @coleccionable.nombre %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @coleccionable.marca %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @coleccionable.precio %>
</p>

<%= link_to 'Edit', edit_coleccionable_path(@coleccionable) %> |
<%= link_to 'Back', coleccionables_path %>
-->
