<h1>Listing tiendas_juegos</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiendas_juegos.each do |tiendas_juego| %>
      <tr>
        <td><%= tiendas_juego.cantidad %></td>
        <td><%= link_to 'Show', tiendas_juego %></td>
        <td><%= link_to 'Edit', edit_tiendas_juego_path(tiendas_juego) %></td>
        <td><%= link_to 'Destroy', tiendas_juego, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tiendas juego', new_tiendas_juego_path %>
