<%= form_for(@tiendas_coleccionable) do |f| %>
  <% if @tiendas_coleccionable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tiendas_coleccionable.errors.count, "error") %> prohibited this tiendas_coleccionable from being saved:</h2>

      <ul>
      <% @tiendas_coleccionable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
