<h1>Listing tiendas_coleccionables</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiendas_coleccionables.each do |tiendas_coleccionable| %>
      <tr>
        <td><%= tiendas_coleccionable.cantidad %></td>
        <td><%= link_to 'Show', tiendas_coleccionable %></td>
        <td><%= link_to 'Edit', edit_tiendas_coleccionable_path(tiendas_coleccionable) %></td>
        <td><%= link_to 'Destroy', tiendas_coleccionable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tiendas coleccionable', new_tiendas_coleccionable_path %>
